h1.entry-title {
  text-transform: uppercase;
  color: $anclaRed;
  margin: 20px 0;
}

body.blog {

  h1  {
    text-transform: uppercase;
    color: $anclaRed;
    font-weight: 600;
    font-size: 60px;
    margin-top: 10px;
    position: relative;
    display: inline-block;
  }
}

.blog-posts {
  padding-top: 30px;
  padding-bottom: 30px;
}

.blog-posts article.post:not(:last-child) {
  margin-bottom: 40px;
  border-bottom: 1px solid #ececec;
}

article.post {

  .post-image img {
    width: 100%;
  }

  .post-title {
    display: block;
    border-bottom: 1px solid #ececec;
    padding: 10px 0;

    a {
      color: $anclaRed;

      &:hover {
        color: $headerAndFooterBg;
      }
    }

    h2 {
      color: $anclaRed;
      margin: 0;
      text-transform: uppercase;
    }
  }

  .link-to > a {
    color: #c1282d;
    font-size: 17px;
  }

  .post-meta {
    margin-top: 10px;
    font-size: 16px;
    color: #838383;
  }

  .post-excerpt {
    margin-top: 10px;
    font-size: 18px;
  }

  .post-footer {
    font-size: 16px;
    margin-top: 10px;
    display: inline-block;
    border-top: 1px solid #ececec;
    padding: 10px 0;

    .comments-link::after {
      content: '-';
      margin-left: 10px;
    }

    .comments-link,
    .edit-link {
      margin: 0 5px;
    }

    a {
      color: $anclaRed;

      &:hover {
        color: $headerAndFooterBg;
      }
    }

  }
}

.post-content {
  @extend .post-excerpt;
  margin: 0;
  padding: 40px 0;
  color: $headerAndFooterBg;
}

.comments-area ul {
  list-style-type: none;

  li:not(:first-child){
    margin-top: 15px;
  }

  &.comment-list {
    padding: 0;
  }

  &.children {
    margin-top: 15px;
  }
}

a.post-category {
  background-color: $anclaRed;
  color: #fff;
  border-radius: 10px;
  text-transform: uppercase;
  display: inline-block;
  padding: 5px 10px;

  &:hover {
    background-color: $headerAndFooterBg;
    color: #fff;
  }
}

.blog-posts a.post-category {
  font-size: 12px;
  padding: 2px 8px;
  margin-top: 10px;
}

// COMMENTS
.comment {
  > div {
    background-color: $headerAndFooterBg;
    color: #fff;
    padding: 24px;
    border-radius: 10px;

    .comment-meta a {
      color: #cecece;

      &:hover {
        color: $anclaRed;
      }
    }

    p {
      font-size: 18px;
      color: #ececec;
      padding: 15px 0;
    }

    .reply a {
      background-color: $anclaRed;
      color: #fff;
      border-radius: 10px;
      padding: 10px 20px;
      display: inline-block;

      &:hover {
        background-color: #4b4b4a;
        color: #fff;
      }
    }
  }

  .comment-author img {
    border-radius: 50%;
  }

  .comment-respond {

    margin-top: -20px;

    .comment-form-comment textarea {
      width: 100%;
      background: #4b4b4a;
      color: #ececec;
    }

    .form-submit input.submit:hover {
      background-color: #4b4b4a;
      color: #fff;
    }
  }
}

.comment-respond {

  a {
    color: $anclaRed;
  }

}

.comment-form-comment {

  label {
    display: block;
    margin-top: 10px;
  }

  textarea {
    background: #ececec none repeat scroll 0 0;
    border: medium none;
    border-radius: 10px;
    padding: 15px 20px;
    color: #555;
    font-size: 16px;
    height: 150px;
    width: 100%;

    &:focus {
      border-color: #66afe9;
      outline: 0;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    }
  }
}

.form-submit {

  margin-top: 10px;
  float: left;

  input.submit {
    background-color: $anclaRed;
    color: #fff;
    border-radius: 10px;
    border: none;
    padding: 8px 15px;

    &:hover {
      background-color: $headerAndFooterBg;
      color: #fff;
    }
  }
}

.comment-form-author,
.comment-form-email {
  display: block;
  width: 50%;
  float: left;

  label {
    display: block;
  }

  input {
    width: 100%;
    background: #ececec none repeat scroll 0 0;
    border: medium none;
    border-radius: 10px;
    padding: 15px 20px;
    color: #555;
    font-size: 16px;
  }
}

.comment-form-author {
  padding-right: 10px;
}

.comment-form-email {
  padding-left: 10px;
}

.comment-form::after {
  content: '';
  clear: both;
}

// WORDPRESS CONTENT BASIC STYLES
img.alignright { float: right; margin: .5em 0 1em 1em; }
img.alignleft { float: left; margin: .5em 1em 1em 0; }
img.aligncenter { display: block; margin-left: auto; margin-right: auto; }
.alignright { float: right; }
.alignleft { float: left; }
.aligncenter { display: block; margin-left: auto; margin-right: auto; }