// FOOTER
footer {
  background-color: $headerAndFooterBg;
  padding: 40px 0 0;

  .certs {
    h4 {
      color: #ebebeb;
      font-size: 26px;
    }

    ul {
      padding: 0;
      margin: 0;
    }

    li {
      float: left;
      list-style: outside none none;
      text-align: center;
      margin: 10px;
      img {
        width: 100px;
      }
      span {
        display: block;
        color: #ebebeb;
        font-size: 10px;
        margin-top: 10px;
        font-family: Arial, sans-serif;
      }
      @include media("<=tablet") {
        float: none;
        display: inline-block;
      }
    }

    @include media("<=tablet") {
      text-align: center;
    }
  }
}

// NEWSLETTER
.newsletter {

  h4 {
    color: #ebebeb;
    font-size: 26px;
  }

  form {
    border: 1px solid #fff;
  }

  input {
    float: left;
    border: none;
    padding: 8px 6px;
    color: #fff;

    &[type="text"] {
      width: 75%;
      background: transparent;
      @include media("<=phone") {
        width: 100%;
      }
    }

    &[type="submit"] {
      width: 25%;
      background-color: $anclaRed;
      @include media("<=phone") {
        width: 100%;
      }
    }
  }

  @include media("<=tablet") {
    width: 80%;
    margin: 15px auto 0;
  }
}

.social {
  margin-top: 20px;

  & > span {
    display: inline-block;
    font-size: 20px;
    color: #ebebeb;
    vertical-align: middle;
  }
}

.social-icons {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;

  li {
    display: inline-block;
    margin: 0 5px;
  }

  a {
    display: block;
    color: #ebebeb;
    font-size: 22px;
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;

    &:hover {
      color: $anclaRed;
    }
  }
}

// FOOTER WIDGETS
.footer-widgets {
  padding-bottom: 25px;

  .widget {
    width: 25%;

    @include media("<=768px") {
      width: (100% / 3);
    }

    @include media("<=600px") {
      width: 50%;
      text-align: center;
    }

    @include media("<=500px") {
      width: 100%;
    }

    a:hover {
      color: $anclaRed;
    }

  }
}

// LEGAL
.legal,
.footer-contact {
  color: #8e8e8e;
  text-align: left;
  font-style: italic;
  padding: 15px 0;

  a {
    color: #8e8e8e;

    &:hover {
      color: $anclaRed;
    }
  }

  @include media("<=768px") {
    text-align: center;
  }

}

.footer-contact {
  text-align: right;
}

.footer-contact ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
  }

  li:not(:last-child)::after {
    content: '-';
    margin-left: 10px;
  }
}