/*************************************/
/*********** FORM STYLES *************/
/*************************************/

.form-circle-box .form-control,
.ccf-form .form-control,
.wpcf7-form input {
  background: #ececec none repeat scroll 0 0;
  border: medium none;
  border-radius: 10px;
  color: #999999;
  font-weight: 400;

  &[type="text"],
  &[type="email"] {
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
  }

  &[type="submit"] {
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
  }

}

.wpcf7-form label {
  width: 100%;
}

.wpcf7-form p {
  margin-top: 10px;
}

.ccf-form .ccf-submit-button {
  float: right;
}

.wpcf7-form select {
  background: #ececec none repeat scroll 0 0;
  border: medium none;
  border-radius: 10px;
  color: #999;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  display: block;
  font-weight: 400;
}

.wpcf7-form textarea {
  background: #ececec none repeat scroll 0 0;
  border: medium none;
  border-radius: 10px;
  color: #999;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  width: 100%;
  font-weight: 400;
}

button.btn-red,
.ccf-submit-button,
.wpcf7-form-control.wpcf7-submit {
  background: $anclaRed none repeat scroll 0 0;
  border-radius: 25px;
  color: #ffffff;
  padding: 6px 22px;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 18px;
  border: none;

  @include hover_transition;

  &:hover, &:active, &:focus {
    color: #fff;
    background: $headerAndFooterBg;
  }
}

.border-box {
  border: 4px solid #ececec;
  border-radius: 25px;
  padding: 20px 0;
  width: 80%;
  text-align: center;
  margin: 0 auto;

  h4 {
    font-size: 30px;
  }

  .box-icon {
    text-align: center;
  }
}

// SEARCH FORM
.search-form {

  text-align: right;

  input.query {
    border-radius: 10px;
    border: none;
    padding: 0;
    background-color: $headerAndFooterBg;
    color: #fff;
    width: 0;
    margin-right: 10px;
  }

  .fa.submit {
    cursor: pointer;
  }
}