.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  height: 100%;
  z-index: 3;
}

.pre-loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid $anclaRed;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1.5s linear infinite;
  position: absolute;
  left: calc(50% - 60px);
  //transform: translateX(-50%);
  top: 40%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.go-up {
  display: none;
  position: absolute;
  right: 80px;
  bottom: 40px;

  @include media("<=desktop") {
    right: 10px;
  }

  @include media("<=tablet") {
    display: none !important;
  }

  &.fixed {
    position: fixed;
    right: 80px;
    bottom: 50px;

    @include media("<=desktop") {
      right: 10px;
    }
  }

  a {
    color: $anclaRed;
    text-align: center;
    display: block;
    border: 2px solid #c1282d;
    border-radius: 50%;
    position: relative;

    @include hover_transition;

    &:hover {
      color: #fff;
      background-color: $anclaRed;
    }

    .fa {
      font-size: 45px;
      line-height: 40px;
      width: 45px;
      height: 45px;
    }
  }
}

@-webkit-keyframes spinnerRotate
{
  from{-webkit-transform:rotate(0deg);}
  to{-webkit-transform:rotate(360deg);}
}
@-moz-keyframes spinnerRotate
{
  from{-moz-transform:rotate(0deg);}
  to{-moz-transform:rotate(360deg);}
}
@-ms-keyframes spinnerRotate
{
  from{-ms-transform:rotate(0deg);}
  to{-ms-transform:rotate(360deg);}
}

.ancla-loader {
  background-position: 50% 50%;
  -webkit-background-size: cover;
  background-size: cover;
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  .spin {
    -webkit-animation-name: spinnerRotate;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spinnerRotate;
    -moz-animation-duration: 5s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spinnerRotate;
    -ms-animation-duration: 5s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;

    img {
      width: 100%;
    }
  }
}

.product-search-loader {
  position: relative;
  height: 150px;
  display: none;

  .ancla-loader {
    width: 100px;
    height: 100px;
  }
}