.video-accordion {
  .panel-default>.panel-heading {
    background-color: $anclaRed;
    color: #fff;

    a:hover,
    a:active,
    a:focus {
      color: #fff;
    }
  }
}

.vid-description {
  font-size: 16px;
  padding: 35px 15px;

  p {
    margin-bottom: 10px;
  }
}

.restricted-area-login {
  width: 92%;
  max-width: 570px;
  margin: 0 auto;

  p > label,
  p > input {
    display: block;
  }

  .login-submit .button {
    @extend .ancla-btn;
    border: none;
  }
}