@import "resets";
/*************************************/
/************* VARIABLES *************/
/*************************************/

$headerFontColor: #BBBFC2;
$headerAndFooterBg: #2b2b2a;
$anclaRed: #c1282d;
$anclaRedTranslucid: rgba(193,40,45,0.8);
$headerAndFooterBgWTransparency: rgba(43,43,42,0.8);

/*************************************/
/*************** FONTS ***************/
/*************************************/

@font-face {
  font-family: ProximaNova;
  src: url('../fonts/ProximaNova-Regular.otf') format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: ProximaNova;
  src: url('../fonts/ProximaNova-Light_0.otf') format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: ProximaNova;
  src: url('../fonts/ProximaNova-Semibold.otf') format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: ProximaNova;
  src: url('../fonts/ProximaNova-Bold.otf') format("truetype");
  font-weight: 600;
}
/*************************************/
/*************** MIXINS **************/
/*************************************/

@mixin hover_transition() {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/*************************************/
/**************** MAIN ***************/
/*************************************/

body {
  font-family: 'ProximaNova', sans-serif;
}

.bg-img {
  background-position: 50% 50%;
  -webkit-background-size:cover;
  background-size:cover;
}

@import "media_queries";
@import "buttons";
@import "header";
@import "widgets";
@import "footer";
@import "covers";
@import "sections";
@import "banners";
@import "products";
@import "store";
@import "cash_control";
@import "forms";
@import "sliders";
@import "tabs";
@import "preloader";
@import "blog";
@import "sidebar";
@import "customers";
@import "pagination";
@import "box_game";
@import "videos";

.abs-fix {
  position: absolute;
  height: 100%;
  width: 70%;
  right: 0;
  opacity: 0;
  @include hover_transition;
}

span.red {
  color: $anclaRed;
}

#map {
  height: 315px;

  @include media("<992px") {
    margin-top: 25px;
  }
}

.contact-data {
  font-size: 18px;
  ul {
    list-style-type: none;
    padding: 0;
  }
  li{
    margin: 20px 0;
  }
  svg{
    vertical-align: middle;
  }
}

.fixed-bg {
  background-attachment: fixed;
}

.product-main-gallery {
  img {
    cursor: pointer;
  }
}

.bg-fixed {
  background-attachment: fixed;
}

.products-slick {
  .slick-next:hover::after,
  .slick-prev:hover::after {
    background: none;
    opacity: 0 !important;
  }

  .slick-next::before,
  .slick-prev::before {
    text-shadow: none;
  }

  .slick-prev {
    left: unset;
    right: 100%;
    padding: 0;
  }

  .slick-next {
    right: unset;
    left: 100%;
    padding: 0;
  }

}

.slick-lightbox {
  .slick-next:hover::after,
  .slick-prev:hover::after {
    background: none;
    opacity: 0 !important;
  }
}

.products-ajax-result {
  display: none;
  padding: 40px 0;
}

.products-ajax-no-results {
  @extend .products-ajax-result;
  font-size: 22px;
}

div#signup-content {
  @extend .wrapper;
  width: 1170px;
}

#optin {
  h3 { display: none;}
  span {  margin-left: 20px;  }
  input.input-checkbox {  margin: 6px 0px 0px 0px; }
}
.Contact{
  label{
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 4px;
  }
  select{
    width: 100%;
  }
  input[type="submit"] {
    height: auto;
    padding: 8px 0;
    font-size: 18px;
    line-height: 1.5;
    width: 100%;
  }
}