@import "resets";
/*************************************/
/************* VARIABLES *************/
/*************************************/

$headerFontColor: #BBBFC2;
$headerAndFooterBg: #2b2b2a;
$anclaRed: #c1282d;
$anclaRedTranslucid: rgba(193,40,45,0.8);
$headerAndFooterBgWTransparency: rgba(43,43,42,0.8);

/*************************************/
/*************** FONTS ***************/
/*************************************/

@font-face {
  font-family: ProximaNova;
  src: url('../fonts/ProximaNova-Regular.otf') format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: ProximaNova;
  src: url('../fonts/ProximaNova-Light_0.otf') format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: ProximaNova;
  src: url('../fonts/ProximaNova-Semibold.otf') format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: ProximaNova;
  src: url('../fonts/ProximaNova-Bold.otf') format("truetype");
  font-weight: 600;
}
/*************************************/
/*************** MIXINS **************/
/*************************************/

@mixin hover_transition() {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/*************************************/
/**************** MAIN ***************/
/*************************************/

body {
  font-family: 'ProximaNova', sans-serif;
}

.bg-img {
  background-position: 50% 50%;
  -webkit-background-size:cover;
  background-size:cover;
}

@import "media_queries";
@import "buttons";
@import "header";
@import "widgets";
@import "footer";
@import "covers";
@import "sections";
@import "banners";
@import "products";
@import "store";
@import "cash_control";
@import "forms";
@import "sliders";
@import "tabs";
@import "preloader";
@import "blog";
@import "sidebar";
@import "clients";

.abs-fix {
  position: absolute;
  height: 100%;
  width: 70%;
  right: 0;
  opacity: 0;
  @include hover_transition;
}

span.red {
  color: $anclaRed;
}

#map {
  height: 315px;

  @include media("<992px") {
    margin-top: 25px;
  }
}

.contact-data {
  ul {
    list-style-type: none;
    padding: 0;
  }
}

.fixed-bg {
  background-attachment: fixed;
}